$mat-input-shadow: rgba(0, 0, 0, 0.2) 0 3px 1px -2px,
  rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
$mat-input-shadow-focus: rgba(0, 0, 0, 0.2) 0 2px 4px -1px,
  rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;

.form-card {
  height: 100%;
  padding: 48px;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow-y: scroll;
}

.search-form {
  display: flex;
  gap: 8px;
}

.search-field {
  flex-grow: 1;
  height: 36px;
  padding: 0 16px;
  border: none;
  border-radius: 4px;
  box-shadow: $mat-input-shadow;
  outline: none;
  transition: 280ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    color: rgba(0, 0, 0, 0.54);
  }

  &:hover,
  &:focus {
    box-shadow: $mat-input-shadow-focus;
  }
}

.states-select {
  padding: 0 16px;
  background-color: white;
  border: 2px solid #3f51b5;
  border-radius: 4px;
  box-shadow: $mat-input-shadow;
  outline: none;
  transition: 280ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: $mat-input-shadow-focus;
  }
}

.submit-button {
  height: 36px;
  padding: 0 16px;
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 4px;
  box-shadow: $mat-input-shadow;
  outline: none;
  transition: 280ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:hover {
    box-shadow: $mat-input-shadow-focus;
  }
}

.no-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.54);
}

.cities-table {
  width: 100%;
  margin-top: 24px;
  border-collapse: collapse;

  th {
    text-align: left;
  }

  tr {
    height: 56px;
  }

  td,
  th {
    padding: 8px;
    border-bottom: 1px solid #ccc;

    &:not(:last-child) {
      border-right: 1px solid #ccc;
    }

    &:first-child {
      width: 128px;
      border-right: 1px solid #3f51b5;
    }
  }

  tr:last-child td {
    border-bottom: none;
  }
}

.highlighted {
  color: #ff8a65;
}
